body {
    background-color: #FDFAF6;;
}
header .header-top {
    background-color: #BF9270;
    padding: 1em 0;
}
header .header-menu ul {
    list-style: none;
    margin: 0;
}
header .header-top ul li a {
    color: #fff;
    padding: 0.6em 1.5em;
    font-size: 1rem;
}
header .header-top ul li:last-child {
    border-bottom: none;
}
#header-logo {
    max-width: 200px;
}
header .header-top  .search-bar {
    max-width: 25px;
    margin-left: auto;
    margin-top: 10px;
}
.mobile-menu .mm-text {
    display: inline-block;
    font-size: .8rem;
    color: #fff7f7;
    border-bottom: 1px solid;
    border-top: 1px solid;
    line-height: 1.5;
    margin-top: 1em;
    cursor: pointer;
}
.search-icon-img {
    margin-left: auto;
    max-width: 40px;
}


/* footer css start*/

footer p {
    color: #dddddd;
    font-weight: 400;
}
.footer-top {
    background-color: #524A4E;
    color: #ddd;
}
.footer-bottom {
    background-color: #4c4549;
    color: #dddddd;
    padding: 1em 0;
}
.ft--social-links ul {
    list-style: none;
    padding: 0;
}
.ft--social-links ul li {
    display: inline-block;
    max-width: 40px;
    margin: 0 0.2em;
}
.ft-links ul a,
.contact-send a,
.footer-bottom  a {
    color: #dddddd;
}
.ft-links ul a:hover,
.contact-send a:hover {
    color: #ffffff;
}
.ft-links ul {
    list-style: none;
    padding: 0;
}
.ft-title {
    max-width: 250px;
    margin-bottom: 2em;
    border-bottom: 2px solid #ffffff1a;
}
.ft-title h3 {
    color: #ffffff;
    font-weight: 600;
}
.footer-top .send-icon {
    max-width: 36px;
}

.footer-top  .contact-send {
    padding-top: 1em;
    border-top: 2px solid #ffffff1a;
    max-width: 250px;
}
