/* Global css start */

.we-heading h2 {
    font-weight: 700;
}
.pos-rel {
    position: relative;
}
.gradient-text-color {
    background: #F76E11;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.we-heading-wrapper {
    padding-bottom: 1em;
}
/* Global css ends */

/* Home page search area css start */
.fp-search-inner {
    margin-top: 2em;
}
.fp-search-area .search-bar {
    padding: .6em 1em;
    border: 1px solid #E7E7E7;
    background-color: #ffffff;
    border-radius: .4em;
}
.fp-search-area .search-bar .we-btn {
    background-color: rgb(214, 128, 96);
    color: rgb(255, 255, 255);
    padding: 1em 2em;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
}
.search-bar-wrapper {
    padding: 1px;
    border-radius: 0.4em;
}
.search-bar-wrapper:focus-within {
    background: #8041ff6e;
}
.fp-search-area .search-bar input {
    border: none;
}
.fp-search-area  .search-inner,
.fp-search-area  .search-inner input {
    height: 100%;
}
.search-icon-img {
    cursor: pointer;
}

/* Home page search are css end */

/* welcome Home start */
.welcome-area::after {
    background-color: #fdfaf6;
    opacity: .3;
}
.welcome-main {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.welcome-heading h1 {
    font-size: 3.2rem;
    color: #202020;
}
/* welcome Home ends */

/* Home page blog start */

.fixed-title h4,
.fixed-title h3,
.contact-mini-title h3 {
    font-weight: 400;    
    font-family: 'Roboto', sans-serif;
}

.hblog-child-title h3 {
    margin: 0px;
    font-size: .95rem;
    font-weight: 600;
}
.blog-bottom-child .hblog-child-single {
    margin-bottom: 4em;
}
.home-blog-area {
    padding: 3em;
    background-color: #ffffff;
    border-radius: .4em;
    margin: 10px 0;
    border: 1px solid #E7E7E7;
}
.home-blog-bottom {
    padding-bottom: 3em;
    border-bottom: 1px solid #E7E7E7;
}
.home-blog-child {
    padding-top: 3em;
}
.home-aside-child {
    margin: 10px 0;
    background-color: #ffffff;
    border-radius: .4em;
    border: 1px solid #E7E7E7;
}
.home-aside-child img {
    display: block;
}
/* Home page blog end */
/*our services start*/

.we-col__4.our-secvices-child {
    margin-top: 1.5em;
}
.our-secvices-child .os-icon {
    max-width: 100px;
    margin: 0 auto;
}
.our-secvices-child .os-child-inner {
    background-color: #ffffff;
    border-radius: .4em;
    padding: 2em;
    border: 1px solid rgb(231, 231, 231);
}

/*our services end*/



/* Contact page  css start */

.contact-area .contact-input-area label {
    width: 100%;
    padding: 1em 0;
}
.contact-area .contact-input-area input {
    padding: 1.3em;
    border-radius: 0.4em;
}
.contact-area input,
.contact-area textarea {
    border: 1px solid rgb(192 147 113 / 18%);
    border-radius: 0.4em;
}
.contact-aside-details img {
    max-width: 40px;
}
.get-in-touch-wrap p {
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 500;
}
.get-in-touch-wrap .contact-aside-details {
    font-size: 1.2rem;
    font-weight: 600;
}
.get-in-touch-wrap .contact-aside-details .icon {
    margin-right: 1em;
}
.contact-aside-details ul li {
    display: flex;
    align-items: center;
    margin-top: 1em;
}
.contact-aside-details ul {
    padding: 0;
    list-style: none;
}
.contact-info-sidebar,
.contact-aside-details,
.contact-area  {
    background-color: #ffffff;
    border-radius: .4em;
    border: 1px solid rgb(231, 231, 231);
}
.contact-info-sidebar,
.contact-aside-details,
.contact-area   {
    margin: 10px 0;
}
/* Contact page css end */

/* sm our service area start */

.sm-content-title h3 {
    font-size: 2.5rem;
    margin: 0.6em 0;
}

.we-heading h2 {
    font-size: 2.5rem;
}
.sm-child-main {
    background: linear-gradient(to right, #ffffff 0, #fdfaf6 51%, #7f41ff 100%);
    background-size: 200% auto; 
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(100deg, rgb(231, 231, 231), rgb(253 250 246)) 1;
}
.sm-child-main-odd {
    background: linear-gradient(to right, #fdfaf6 0, #ffffff 51%, #7f41ff 100%);
    background-size: 200% auto;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(-100deg, rgb(231, 231, 231), rgb(253 250 246)) 1;
}
.sm-content-mini-img {
    max-width: 80px;
    background: linear-gradient(to right, #7f41ff 0, #a341ff 51%, #7f41ff 100%);
    background-size: 200% auto;
    padding: 0.5em;
    border-radius: 1em;
}
.sm-child-img {
    display: flex;
    align-items: center;
}


/* sm our service area start */


/* our testimonial start*/
.our-testimonial-section {
    background-color: #ffffff;
}
.our-single-testimonial {
    background-color: #fdfaf6;
    border: 1px solid rgb(231, 231, 231);
    text-align: left;
    padding: 35px!important;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 15px!important;
    min-width:100%;
    display: block;
}


.client-info {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    position: relative;
}

.client-img {
    max-width: 110px;
    margin-right: 20px;
    border: 2px solid #f76e11;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    padding: 2px;
}

.client-img img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.client-title h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: capitalize;
}

.client-title span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding-top: 4px;
    color: #599bff;
}

.testimonial_content {
    position: relative;
}
.client-info:before {
    content: "";
    background-image: url(https://sajibwap.github.io/webextent-demo/img/icon-quote.png);
    position: absolute;
    width: 65px;
    height: 65px;
    top: -27px;
    right: -27px;
    text-align: center;
    color: #e5f0ff;
    background-repeat: no-repeat;
}
.testimonial_text {
    font-size: 15px;
    font-weight: 400;
}

.our-testimonial-section .owl-dot span {
  width: 10px;
  height: 10px;
  background: #000;
  margin: 10px;
  border-radius: 50%;
}
.our-testimonial-section .owl-dot.active span {
  background-color: #f76e11;
}
.our-testimonial-section .owl-dots {
  text-align: center;
}




/* our testimonial end*/
/* our Info start */
.our-info-section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-content,.info-img {
    margin-bottom: 30px;
}
.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-heading {
    font-size: 38px;
    margin-bottom: 0px;
    text-transform: capitalize;
    margin-top: 0;
    font-weight: 700;
}

.info-content p {
    font-size: 16px;
}
.we-btn.btn-info {
    width: 150px;
    text-align: center;
    background: #6c63ff;
}

/* our info end */

/* we exp area start */

.we-exp-area .we-oe-child {
    border: 1px solid rgb(231, 231, 231);
    transform:scale(.94);
    padding: 2em;
    background: #fff;
    border-radius: 0.4em;
    position: relative;
}
.we-exp-area .we-oe-txt h3 {
    font-size: 1.5rem;
}

/* we exp area end*/

/** our technology start **/

.our-technology .we-tech-child {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    transform: scale(.9);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 0.4em;
}
.our-technology .we-tech-child:hover {
    border: 1px solid rgb(247 110 17);
}

/** our technology start **/

