

/**
** 
**/

p.we-subheading {
    max-width: 650px;
    margin: 0 auto;
}

/* our testimonial start*/
.our-testimonial-section {
    background-color: #F5F9FF;
}
.our-single-testimonial {
    background: #fff;
    text-align: left;
    padding: 35px!important;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 15px!important;
    border: 4px solid #00000005;
}
.our-single-testimonial:hover {
    background-color: #00000005;
    transition: .3s;
    border: 4px solid #fff;
}
.our-single-testimonial:hover .client-info:before {
    color: #fff;
    transition: .3s;
}
.client-info {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    position: relative;
}

.client-img {
    max-width: 110px;
    margin-right: 20px;
    border: 4px solid #c0dbff;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    padding: 2px;
}

.client-img img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.client-title h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: capitalize;
}

.client-title span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    padding-top: 4px;
    color: #599bff;
}

.testimonial_content {
    position: relative;
}
.client-info:before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 90px;
    position: absolute;
    top: 0;
    right: -10px;
    text-align: center;
    color: #e5f0ff;
    transform: rotate(180deg);
}
.testimonial_text {
    font-size: 15px;
    font-weight: 400;
}
.testimonial_rating {
    margin-top: 20px;
}
.testimonial-star .fa.active {
    color: red;
}

/* our testimonial end*/
/* our Info start */
.our-info-section {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-content,.info-img {
    margin-bottom: 30px;
}
.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-heading {
    font-size: 38px;
    margin-bottom: 0px;
    text-transform: capitalize;
    margin-top: 0;
    font-weight: 700;
}
.info-content .section-heading span {
    color:#6c63ff;
}

.info-content p {
    font-size: 16px;
}
.we-btn.btn-info {
    width: 150px;
    text-align: center;
    background: #6c63ff;
}

/* our info end */